<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mtf.contract.dao.ActionTree2ActionMapper">
	<resultMap id="BaseResultMap" type="ActionTree2Action">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="treeId" property="treeId" jdbcType="CHAR" />
		<result column="actionId" property="actionId" jdbcType="CHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, treeId, actionId
	</sql>
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_actiontree_action
		WHERE id = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM t_actiontree_action
		WHERE id = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="ActionTree2Action">
		INSERT INTO t_actiontree_action (id, treeId, actionId)
		VALUES (#{id,jdbcType=CHAR}, #{treeId,jdbcType=CHAR}, #{actionId,jdbcType=CHAR})
	</insert>
	<update id="updateById" parameterType="ActionTree2Action">
		UPDATE t_actiontree_action
		SET treeId = #{treeId,jdbcType=CHAR},
		actionId = #{actionId,jdbcType=CHAR}
		WHERE id = #{id,jdbcType=CHAR}
	</update>
</mapper>