<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mtf.contract.dao.ActionTreeMapper">
	<resultMap id="BaseResultMap" type="ActionTree">
		<id column="id" property="id" jdbcType="CHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="pid" property="pid" jdbcType="CHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, pid
	</sql>
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_actiontree
		WHERE id = #{id,jdbcType=CHAR}
	</select>
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM t_actiontree
		WHERE id = #{id,jdbcType=CHAR}
	</delete>
	<insert id="insert" parameterType="ActionTree">
		INSERT INTO t_actiontree (id, name, pid)
		VALUES (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{pid,jdbcType=CHAR})
	</insert>
	<update id="updateById" parameterType="ActionTree">
		UPDATE t_actiontree
		SET name = #{name,jdbcType=VARCHAR},
		pid = #{pid,jdbcType=CHAR}
		WHERE id = #{id,jdbcType=CHAR}
	</update>
</mapper>