<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.contract.dao.ApplicationMapper" > 
	<resultMap type="com.mtf.contract.model.impl.ApplicationImpl" id="application"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="application">
		INSERT INTO application
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="addDateContract != null">
					addDateContract,
				</if>
				<if test="superId != null">
					superId,
				</if>
				<if test="modified != null">
					modified,
				</if>
				<if test="flag != null">
					flag,
				</if>
				<if test="applicationType != null">
					applicationType,
				</if>
				<if test="paymentType != null">
					paymentType,
				</if>
				<if test="paymentFlag != null">
					paymentFlag,
				</if>
				<if test="advanceFlag != null">
					advanceFlag,
				</if>
				<if test="department != null">
					department,
				</if>
				<if test="supplier != null">
					supplier,
				</if>
				<if test="payment != null">
					payment,
				</if>
				<if test="commodity != null">
					commodity,
				</if>
				<if test="standard != null">
					standard,
				</if>
				<if test="quantity != null">
					quantity,
				</if>
				<if test="unitPrice != null">
					unitPrice,
				</if>
				<if test="totalPrice != null">
					totalPrice,
				</if>
				<if test="mpContractNo != null">
					mpContractNo,
				</if>
				<if test="mpProcessor != null">
					mpProcessor,
				</if>
				<if test="mpInvoice != null">
					mpInvoice,
				</if>
				<if test="mpFaceAmount != null">
					mpFaceAmount,
				</if>
				<if test="mpAdvancePayment != null">
					mpAdvancePayment,
				</if>
				<if test="mpFactPayment != null">
					mpFactPayment,
				</if>
				<if test="mpPayment != null">
					mpPayment,
				</if>
				<if test="mpUnpaidAmount != null">
					mpUnpaidAmount,
				</if>
				<if test="cpContractNo != null">
					cpContractNo,
				</if>
				<if test="cpCustomer != null">
					cpCustomer,
				</if>
				<if test="cpInvoice != null">
					cpInvoice,
				</if>
				<if test="cpExportInvoice != null">
					cpExportInvoice,
				</if>
				<if test="cpFaceAmount != null">
					cpFaceAmount,
				</if>
				<if test="cpAdvancePayment != null">
					cpAdvancePayment,
				</if>
				<if test="cpTotalPrice != null">
					cpTotalPrice,
				</if>
				<if test="cpFactPayment != null">
					cpFactPayment,
				</if>
				<if test="cpPayment != null">
					cpPayment,
				</if>
				<if test="cpUnpaidAmount != null">
					cpUnpaidAmount,
				</if>
				<if test="importContractNo != null">
					importContractNo,
				</if>
				<if test="importCreditNo != null">
					importCreditNo,
				</if>
				<if test="importGarageInID != null">
					importGarageInID,
				</if>
				<if test="importContractAmount != null">
					importContractAmount,
				</if>
				<if test="importAdvancePayment != null">
					importAdvancePayment,
				</if>
				<if test="importFactPayment != null">
					importFactPayment,
				</if>
				<if test="importPayment != null">
					importPayment,
				</if>
				<if test="importUnpaidAmount != null">
					importUnpaidAmount,
				</if>
				<if test="approveState != null">
					approveState,
				</if>
				<if test="approver0 != null">
					approver0,
				</if>
				<if test="approverDate0 != null">
					approverDate0,
				</if>
				<if test="approver1 != null">
					approver1,
				</if>
				<if test="approverDate1 != null">
					approverDate1,
				</if>
				<if test="approver2 != null">
					approver2,
				</if>
				<if test="approverDate2 != null">
					approverDate2,
				</if>
				<if test="approver3 != null">
					approver3,
				</if>
				<if test="approverDate3 != null">
					approverDate3,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="approver != null">
					approver,
				</if>
				<if test="approverDate != null">
					approverDate,
				</if>
				<if test="payUser != null">
					payUser,
				</if>
				<if test="payDate != null">
					payDate,
				</if>
				<if test="contractType != null">
					contractType,
				</if>
				<if test="rejectReason != null">
					rejectReason,
				</if>
				<if test="remark != null">
					remark,
				</if>
				<if test="masterContractNo != null">
					masterContractNo,
				</if>
				<if test="approverId != null">
					approverId,
				</if>
				<if test="approverId0 != null">
					approverId0,
				</if>
				<if test="approverId1 != null">
					approverId1,
				</if>
				<if test="approverId2 != null">
					approverId2,
				</if>
				<if test="approverId3 != null">
					approverId3,
				</if>
				<if test="finalApprover != null">
					finalApprover,
				</if>
				<if test="approveReason != null">
					approveReason,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="addDateContract != null">
					#{addDateContract},
				</if>
				<if test="superId != null">
					#{superId},
				</if>
				<if test="modified != null">
					#{modified},
				</if>
				<if test="flag != null">
					#{flag},
				</if>
				<if test="applicationType != null">
					#{applicationType},
				</if>
				<if test="paymentType != null">
					#{paymentType},
				</if>
				<if test="paymentFlag != null">
					#{paymentFlag},
				</if>
				<if test="advanceFlag != null">
					#{advanceFlag},
				</if>
				<if test="department != null">
					#{department},
				</if>
				<if test="supplier != null">
					#{supplier},
				</if>
				<if test="payment != null">
					#{payment},
				</if>
				<if test="commodity != null">
					#{commodity},
				</if>
				<if test="standard != null">
					#{standard},
				</if>
				<if test="quantity != null">
					#{quantity},
				</if>
				<if test="unitPrice != null">
					#{unitPrice},
				</if>
				<if test="totalPrice != null">
					#{totalPrice},
				</if>
				<if test="mpContractNo != null">
					#{mpContractNo},
				</if>
				<if test="mpProcessor != null">
					#{mpProcessor},
				</if>
				<if test="mpInvoice != null">
					#{mpInvoice},
				</if>
				<if test="mpFaceAmount != null">
					#{mpFaceAmount},
				</if>
				<if test="mpAdvancePayment != null">
					#{mpAdvancePayment},
				</if>
				<if test="mpFactPayment != null">
					#{mpFactPayment},
				</if>
				<if test="mpPayment != null">
					#{mpPayment},
				</if>
				<if test="mpUnpaidAmount != null">
					#{mpUnpaidAmount},
				</if>
				<if test="cpContractNo != null">
					#{cpContractNo},
				</if>
				<if test="cpCustomer != null">
					#{cpCustomer},
				</if>
				<if test="cpInvoice != null">
					#{cpInvoice},
				</if>
				<if test="cpExportInvoice != null">
					#{cpExportInvoice},
				</if>
				<if test="cpFaceAmount != null">
					#{cpFaceAmount},
				</if>
				<if test="cpAdvancePayment != null">
					#{cpAdvancePayment},
				</if>
				<if test="cpTotalPrice != null">
					#{cpTotalPrice},
				</if>
				<if test="cpFactPayment != null">
					#{cpFactPayment},
				</if>
				<if test="cpPayment != null">
					#{cpPayment},
				</if>
				<if test="cpUnpaidAmount != null">
					#{cpUnpaidAmount},
				</if>
				<if test="importContractNo != null">
					#{importContractNo},
				</if>
				<if test="importCreditNo != null">
					#{importCreditNo},
				</if>
				<if test="importGarageInID != null">
					#{importGarageInID},
				</if>
				<if test="importContractAmount != null">
					#{importContractAmount},
				</if>
				<if test="importAdvancePayment != null">
					#{importAdvancePayment},
				</if>
				<if test="importFactPayment != null">
					#{importFactPayment},
				</if>
				<if test="importPayment != null">
					#{importPayment},
				</if>
				<if test="importUnpaidAmount != null">
					#{importUnpaidAmount},
				</if>
				<if test="approveState != null">
					#{approveState},
				</if>
				<if test="approver0 != null">
					#{approver0},
				</if>
				<if test="approverDate0 != null">
					#{approverDate0},
				</if>
				<if test="approver1 != null">
					#{approver1},
				</if>
				<if test="approverDate1 != null">
					#{approverDate1},
				</if>
				<if test="approver2 != null">
					#{approver2},
				</if>
				<if test="approverDate2 != null">
					#{approverDate2},
				</if>
				<if test="approver3 != null">
					#{approver3},
				</if>
				<if test="approverDate3 != null">
					#{approverDate3},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="approver != null">
					#{approver},
				</if>
				<if test="approverDate != null">
					#{approverDate},
				</if>
				<if test="payUser != null">
					#{payUser},
				</if>
				<if test="payDate != null">
					#{payDate},
				</if>
				<if test="contractType != null">
					#{contractType},
				</if>
				<if test="rejectReason != null">
					#{rejectReason},
				</if>
				<if test="remark != null">
					#{remark},
				</if>
				<if test="masterContractNo != null">
					#{masterContractNo},
				</if>
				<if test="approverId != null">
					#{approverId},
				</if>
				<if test="approverId0 != null">
					#{approverId0},
				</if>
				<if test="approverId1 != null">
					#{approverId1},
				</if>
				<if test="approverId2 != null">
					#{approverId2},
				</if>
				<if test="approverId3 != null">
					#{approverId3},
				</if>
				<if test="finalApprover != null">
					#{finalApprover},
				</if>
				<if test="approveReason != null">
					#{approveReason},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM application
		WHERE
			id = #{id}
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE application
		<set>
			<if test="id != null">
				id = #{id},
			</if>
			<if test="addDateContract != null">
				addDateContract = #{addDateContract},
			</if>
			<if test="superId != null">
				superId = #{superId},
			</if>
			<if test="modified != null">
				modified = #{modified},
			</if>
			<if test="flag != null">
				flag = #{flag},
			</if>
			<if test="applicationType != null">
				applicationType = #{applicationType},
			</if>
			<if test="paymentType != null">
				paymentType = #{paymentType},
			</if>
			<if test="paymentFlag != null">
				paymentFlag = #{paymentFlag},
			</if>
			<if test="advanceFlag != null">
				advanceFlag = #{advanceFlag},
			</if>
			<if test="department != null">
				department = #{department},
			</if>
			<if test="supplier != null">
				supplier = #{supplier},
			</if>
			<if test="payment != null">
				payment = #{payment},
			</if>
			<if test="commodity != null">
				commodity = #{commodity},
			</if>
			<if test="standard != null">
				standard = #{standard},
			</if>
			<if test="quantity != null">
				quantity = #{quantity},
			</if>
			<if test="unitPrice != null">
				unitPrice = #{unitPrice},
			</if>
			<if test="totalPrice != null">
				totalPrice = #{totalPrice},
			</if>
			<if test="mpContractNo != null">
				mpContractNo = #{mpContractNo},
			</if>
			<if test="mpProcessor != null">
				mpProcessor = #{mpProcessor},
			</if>
			<if test="mpInvoice != null">
				mpInvoice = #{mpInvoice},
			</if>
			<if test="mpFaceAmount != null">
				mpFaceAmount = #{mpFaceAmount},
			</if>
			<if test="mpAdvancePayment != null">
				mpAdvancePayment = #{mpAdvancePayment},
			</if>
			<if test="mpFactPayment != null">
				mpFactPayment = #{mpFactPayment},
			</if>
			<if test="mpPayment != null">
				mpPayment = #{mpPayment},
			</if>
			<if test="mpUnpaidAmount != null">
				mpUnpaidAmount = #{mpUnpaidAmount},
			</if>
			<if test="cpContractNo != null">
				cpContractNo = #{cpContractNo},
			</if>
			<if test="cpCustomer != null">
				cpCustomer = #{cpCustomer},
			</if>
			<if test="cpInvoice != null">
				cpInvoice = #{cpInvoice},
			</if>
			<if test="cpExportInvoice != null">
				cpExportInvoice = #{cpExportInvoice},
			</if>
			<if test="cpFaceAmount != null">
				cpFaceAmount = #{cpFaceAmount},
			</if>
			<if test="cpAdvancePayment != null">
				cpAdvancePayment = #{cpAdvancePayment},
			</if>
			<if test="cpTotalPrice != null">
				cpTotalPrice = #{cpTotalPrice},
			</if>
			<if test="cpFactPayment != null">
				cpFactPayment = #{cpFactPayment},
			</if>
			<if test="cpPayment != null">
				cpPayment = #{cpPayment},
			</if>
			<if test="cpUnpaidAmount != null">
				cpUnpaidAmount = #{cpUnpaidAmount},
			</if>
			<if test="importContractNo != null">
				importContractNo = #{importContractNo},
			</if>
			<if test="importCreditNo != null">
				importCreditNo = #{importCreditNo},
			</if>
			<if test="importGarageInID != null">
				importGarageInID = #{importGarageInID},
			</if>
			<if test="importContractAmount != null">
				importContractAmount = #{importContractAmount},
			</if>
			<if test="importAdvancePayment != null">
				importAdvancePayment = #{importAdvancePayment},
			</if>
			<if test="importFactPayment != null">
				importFactPayment = #{importFactPayment},
			</if>
			<if test="importPayment != null">
				importPayment = #{importPayment},
			</if>
			<if test="importUnpaidAmount != null">
				importUnpaidAmount = #{importUnpaidAmount},
			</if>
			<if test="approveState != null">
				approveState = #{approveState},
			</if>
			<if test="approver0 != null">
				approver0 = #{approver0},
			</if>
			<if test="approverDate0 != null">
				approverDate0 = #{approverDate0},
			</if>
			<if test="approver1 != null">
				approver1 = #{approver1},
			</if>
			<if test="approverDate1 != null">
				approverDate1 = #{approverDate1},
			</if>
			<if test="approver2 != null">
				approver2 = #{approver2},
			</if>
			<if test="approverDate2 != null">
				approverDate2 = #{approverDate2},
			</if>
			<if test="approver3 != null">
				approver3 = #{approver3},
			</if>
			<if test="approverDate3 != null">
				approverDate3 = #{approverDate3},
			</if>
			<if test="addUser != null">
				addUser = #{addUser},
			</if>
			<if test="addDate != null">
				addDate = #{addDate},
			</if>
			<if test="modifiedUser != null">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedDate != null">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="approver != null">
				approver = #{approver},
			</if>
			<if test="approverDate != null">
				approverDate = #{approverDate},
			</if>
			<if test="payUser != null">
				payUser = #{payUser},
			</if>
			<if test="payDate != null">
				payDate = #{payDate},
			</if>
			<if test="contractType != null">
				contractType = #{contractType},
			</if>
			<if test="rejectReason != null">
				rejectReason = #{rejectReason},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="masterContractNo != null">
				masterContractNo = #{masterContractNo},
			</if>
			<if test="approverId != null">
				approverId = #{approverId},
			</if>
			<if test="approverId0 != null">
				approverId0 = #{approverId0},
			</if>
			<if test="approverId1 != null">
				approverId1 = #{approverId1},
			</if>
			<if test="approverId2 != null">
				approverId2 = #{approverId2},
			</if>
			<if test="approverId3 != null">
				approverId3 = #{approverId3},
			</if>
			<if test="finalApprover != null">
				finalApprover = #{finalApprover},
			</if>
			<if test="approveReason != null">
				approveReason = #{approveReason},
			</if>
		</set>
		WHERE
			id = #{id}
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="application">
		SELECT 
			id, 
			addDateContract, 
			superId, 
			modified, 
			flag, 
			applicationType, 
			paymentType, 
			paymentFlag, 
			advanceFlag, 
			department, 
			supplier, 
			payment, 
			commodity, 
			standard, 
			quantity, 
			unitPrice, 
			totalPrice, 
			mpContractNo, 
			mpProcessor, 
			mpInvoice, 
			mpFaceAmount, 
			mpAdvancePayment, 
			mpFactPayment, 
			mpPayment, 
			mpUnpaidAmount, 
			cpContractNo, 
			cpCustomer, 
			cpInvoice, 
			cpExportInvoice, 
			cpFaceAmount, 
			cpAdvancePayment, 
			cpTotalPrice, 
			cpFactPayment, 
			cpPayment, 
			cpUnpaidAmount, 
			importContractNo, 
			importCreditNo, 
			importGarageInID, 
			importContractAmount, 
			importAdvancePayment, 
			importFactPayment, 
			importPayment, 
			importUnpaidAmount, 
			approveState, 
			approver0, 
			approverDate0, 
			approver1, 
			approverDate1, 
			approver2, 
			approverDate2, 
			approver3, 
			approverDate3, 
			addUser, 
			addDate, 
			modifiedUser, 
			modifiedDate, 
			approver, 
			approverDate, 
			payUser, 
			payDate, 
			contractType, 
			rejectReason, 
			remark, 
			masterContractNo, 
			approverId, 
			approverId0, 
			approverId1, 
			approverId2, 
			approverId3, 
			finalApprover, 
			approveReason
		FROM application
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="addDateContract != null">
				AND addDateContract = #{addDateContract}
			</if>
			<if test="superId != null">
				AND superId = #{superId}
			</if>
			<if test="modified != null">
				AND modified = #{modified}
			</if>
			<if test="flag != null">
				AND flag = #{flag}
			</if>
			<if test="applicationType != null">
				AND applicationType = #{applicationType}
			</if>
			<if test="paymentType != null">
				AND paymentType = #{paymentType}
			</if>
			<if test="paymentFlag != null">
				AND paymentFlag = #{paymentFlag}
			</if>
			<if test="advanceFlag != null">
				AND advanceFlag = #{advanceFlag}
			</if>
			<if test="department != null">
				AND department = #{department}
			</if>
			<if test="supplier != null">
				AND supplier = #{supplier}
			</if>
			<if test="payment != null">
				AND payment = #{payment}
			</if>
			<if test="commodity != null">
				AND commodity = #{commodity}
			</if>
			<if test="standard != null">
				AND standard = #{standard}
			</if>
			<if test="quantity != null">
				AND quantity = #{quantity}
			</if>
			<if test="unitPrice != null">
				AND unitPrice = #{unitPrice}
			</if>
			<if test="totalPrice != null">
				AND totalPrice = #{totalPrice}
			</if>
			<if test="mpContractNo != null">
				AND mpContractNo = #{mpContractNo}
			</if>
			<if test="mpProcessor != null">
				AND mpProcessor = #{mpProcessor}
			</if>
			<if test="mpInvoice != null">
				AND mpInvoice = #{mpInvoice}
			</if>
			<if test="mpFaceAmount != null">
				AND mpFaceAmount = #{mpFaceAmount}
			</if>
			<if test="mpAdvancePayment != null">
				AND mpAdvancePayment = #{mpAdvancePayment}
			</if>
			<if test="mpFactPayment != null">
				AND mpFactPayment = #{mpFactPayment}
			</if>
			<if test="mpPayment != null">
				AND mpPayment = #{mpPayment}
			</if>
			<if test="mpUnpaidAmount != null">
				AND mpUnpaidAmount = #{mpUnpaidAmount}
			</if>
			<if test="cpContractNo != null">
				AND cpContractNo = #{cpContractNo}
			</if>
			<if test="cpCustomer != null">
				AND cpCustomer = #{cpCustomer}
			</if>
			<if test="cpInvoice != null">
				AND cpInvoice = #{cpInvoice}
			</if>
			<if test="cpExportInvoice != null">
				AND cpExportInvoice = #{cpExportInvoice}
			</if>
			<if test="cpFaceAmount != null">
				AND cpFaceAmount = #{cpFaceAmount}
			</if>
			<if test="cpAdvancePayment != null">
				AND cpAdvancePayment = #{cpAdvancePayment}
			</if>
			<if test="cpTotalPrice != null">
				AND cpTotalPrice = #{cpTotalPrice}
			</if>
			<if test="cpFactPayment != null">
				AND cpFactPayment = #{cpFactPayment}
			</if>
			<if test="cpPayment != null">
				AND cpPayment = #{cpPayment}
			</if>
			<if test="cpUnpaidAmount != null">
				AND cpUnpaidAmount = #{cpUnpaidAmount}
			</if>
			<if test="importContractNo != null">
				AND importContractNo = #{importContractNo}
			</if>
			<if test="importCreditNo != null">
				AND importCreditNo = #{importCreditNo}
			</if>
			<if test="importGarageInID != null">
				AND importGarageInID = #{importGarageInID}
			</if>
			<if test="importContractAmount != null">
				AND importContractAmount = #{importContractAmount}
			</if>
			<if test="importAdvancePayment != null">
				AND importAdvancePayment = #{importAdvancePayment}
			</if>
			<if test="importFactPayment != null">
				AND importFactPayment = #{importFactPayment}
			</if>
			<if test="importPayment != null">
				AND importPayment = #{importPayment}
			</if>
			<if test="importUnpaidAmount != null">
				AND importUnpaidAmount = #{importUnpaidAmount}
			</if>
			<if test="approveState != null">
				AND approveState = #{approveState}
			</if>
			<if test="approver0 != null">
				AND approver0 = #{approver0}
			</if>
			<if test="approverDate0 != null">
				AND approverDate0 = #{approverDate0}
			</if>
			<if test="approver1 != null">
				AND approver1 = #{approver1}
			</if>
			<if test="approverDate1 != null">
				AND approverDate1 = #{approverDate1}
			</if>
			<if test="approver2 != null">
				AND approver2 = #{approver2}
			</if>
			<if test="approverDate2 != null">
				AND approverDate2 = #{approverDate2}
			</if>
			<if test="approver3 != null">
				AND approver3 = #{approver3}
			</if>
			<if test="approverDate3 != null">
				AND approverDate3 = #{approverDate3}
			</if>
			<if test="addUser != null">
				AND addUser = #{addUser}
			</if>
			<if test="addDate != null">
				AND addDate = #{addDate}
			</if>
			<if test="modifiedUser != null">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedDate != null">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="approver != null">
				AND approver = #{approver}
			</if>
			<if test="approverDate != null">
				AND approverDate = #{approverDate}
			</if>
			<if test="payUser != null">
				AND payUser = #{payUser}
			</if>
			<if test="payDate != null">
				AND payDate = #{payDate}
			</if>
			<if test="contractType != null">
				AND contractType = #{contractType}
			</if>
			<if test="rejectReason != null">
				AND rejectReason = #{rejectReason}
			</if>
			<if test="remark != null">
				AND remark = #{remark}
			</if>
			<if test="masterContractNo != null">
				AND masterContractNo = #{masterContractNo}
			</if>
			<if test="approverId != null">
				AND approverId = #{approverId}
			</if>
			<if test="approverId0 != null">
				AND approverId0 = #{approverId0}
			</if>
			<if test="approverId1 != null">
				AND approverId1 = #{approverId1}
			</if>
			<if test="approverId2 != null">
				AND approverId2 = #{approverId2}
			</if>
			<if test="approverId3 != null">
				AND approverId3 = #{approverId3}
			</if>
			<if test="finalApprover != null">
				AND finalApprover = #{finalApprover}
			</if>
			<if test="approveReason != null">
				AND approveReason = #{approveReason}
			</if>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="application">
		SELECT 
			id, 
			addDateContract, 
			superId, 
			modified, 
			flag, 
			applicationType, 
			paymentType, 
			paymentFlag, 
			advanceFlag, 
			department, 
			supplier, 
			payment, 
			commodity, 
			standard, 
			quantity, 
			unitPrice, 
			totalPrice, 
			mpContractNo, 
			mpProcessor, 
			mpInvoice, 
			mpFaceAmount, 
			mpAdvancePayment, 
			mpFactPayment, 
			mpPayment, 
			mpUnpaidAmount, 
			cpContractNo, 
			cpCustomer, 
			cpInvoice, 
			cpExportInvoice, 
			cpFaceAmount, 
			cpAdvancePayment, 
			cpTotalPrice, 
			cpFactPayment, 
			cpPayment, 
			cpUnpaidAmount, 
			importContractNo, 
			importCreditNo, 
			importGarageInID, 
			importContractAmount, 
			importAdvancePayment, 
			importFactPayment, 
			importPayment, 
			importUnpaidAmount, 
			approveState, 
			approver0, 
			approverDate0, 
			approver1, 
			approverDate1, 
			approver2, 
			approverDate2, 
			approver3, 
			approverDate3, 
			addUser, 
			addDate, 
			modifiedUser, 
			modifiedDate, 
			approver, 
			approverDate, 
			payUser, 
			payDate, 
			contractType, 
			rejectReason, 
			remark, 
			masterContractNo, 
			approverId, 
			approverId0, 
			approverId1, 
			approverId2, 
			approverId3, 
			finalApprover, 
			approveReason,
			DATE_FORMAT(a.addDate, '%Y-%m-%d %H:%i') AS showAddDate,
			(select signature from t_user as c where c.c_id = approverId0) as signature0,
			(select signature from t_user as c where c.c_id = approverId1) as signature1,
			(select signature from t_user as c where c.c_id = approverId2) as signature2
		FROM application as a
		<where>
		<if test="addUser != null and addUser != ''">
			AND a.addUser = #{addUser}
		</if>
		<if test="flag != null">
			AND a.flag = #{flag}
		</if>
		<if test="approveState != null and approveState != ''">
			AND a.approveState LIKE CONCAT('%', #{approveState},'%')
		</if>
		<if test="paymentFlag != null">
				AND a.paymentFlag = #{paymentFlag}
		</if>
		<if test="userLevel == 0">
			AND a.approverId0 IN
			<foreach collection="listEmployee" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="userLevel == 1">
			AND a.approverId0 IN
			<foreach collection="listEmployee" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="userLevel == 2">
			AND a.approverId1 IN
			<foreach collection="listEmployee" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="userLevel == 3">
			AND a.approverId2 IN
			<foreach collection="listEmployee" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="listApproveState != null">
			AND a.approveState IN
			<foreach collection="listApproveState" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="paymentFlag != null">
			AND a.paymentFlag = #{paymentFlag}
		</if>
		<if test="startDate != null and startDate != ''">
			<![CDATA[
				AND a.addDate >=str_to_date(#{startDate},'%Y-%m-%d')  
			]]>
		</if>
		<if test="endDate != null and endDate != ''">
			<![CDATA[
				AND a.addDate <= str_to_date(#{endDate},'%Y-%m-%d')
			]]>
		</if>
		<if test="masterContractNo != null">
			AND a.masterContractNo LIKE CONCAT('%', #{masterContractNo},'%')
		</if>
		<if test="sort != null and sort != ''">
			ORDER BY ${sort} ${order}
		</if>
		LIMIT ${startIndex}, ${rows}
		</where>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM application as a
		<where>
		<if test="addUser != null and addUser != ''">
			AND a.addUser = #{addUser}
		</if>
		<if test="flag != null">
			AND a.flag = #{flag}
		</if>
		<if test="approveState != null and approveState != ''">
			AND a.approveState LIKE CONCAT('%', #{approveState},'%')
		</if>
		<if test="paymentFlag != null">
				AND a.paymentFlag = #{paymentFlag}
		</if>
		<if test="userLevel == 0">
			AND a.approverId0 IN
			<foreach collection="listEmployee" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="userLevel == 1">
			AND a.approverId0 IN
			<foreach collection="listEmployee" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="userLevel == 2">
			AND a.approverId1 IN
			<foreach collection="listEmployee" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="userLevel == 3">
			AND a.approverId2 IN
			<foreach collection="listEmployee" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="listApproveState != null">
			AND a.approveState IN
			<foreach collection="listApproveState" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		
		<if test="startDate != null and startDate != ''">
			AND a.addDateContract >= #{startDate}
		</if>
		<if test="endDate != null and endDate != ''">
			<![CDATA[
				AND a.addDateContract <= #{endDate}
			]]>
		</if>
		</where>
	</select>
</mapper>