<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtf.contract.dao.AttachmentMapper" > 
	<resultMap type="com.mtf.contract.model.impl.AttachmentImpl" id="attachment"/> 
	<!-- 添加实体对象 -->
	<insert id="insert" parameterType="attachment">
		INSERT INTO attachment
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null">
					id,
				</if>
				<if test="contractId != null">
					contractId,
				</if>
				<if test="userId != null">
					userId,
				</if>
				<if test="code != null">
					code,
				</if>
				<if test="fileName != null">
					fileName,
				</if>
				<if test="suffix != null">
					suffix,
				</if>
				<if test="savePathFile != null">
					savePathFile,
				</if>
				<if test="addDate != null">
					addDate,
				</if>
				<if test="addUser != null">
					addUser,
				</if>
				<if test="addIp != null">
					addIp,
				</if>
				<if test="modifiedDate != null">
					modifiedDate,
				</if>
				<if test="modifiedUser != null">
					modifiedUser,
				</if>
				<if test="modifiedIp != null">
					modifiedIp,
				</if>
			</trim>
			<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
				<if test="id != null">
					#{id},
				</if>
				<if test="contractId != null">
					#{contractId},
				</if>
				<if test="userId != null">
					#{userId},
				</if>
				<if test="code != null">
					#{code},
				</if>
				<if test="fileName != null">
					#{fileName},
				</if>
				<if test="suffix != null">
					#{suffix},
				</if>
				<if test="savePathFile != null">
					#{savePathFile},
				</if>
				<if test="addDate != null">
					#{addDate},
				</if>
				<if test="addUser != null">
					#{addUser},
				</if>
				<if test="addIp != null">
					#{addIp},
				</if>
				<if test="modifiedDate != null">
					#{modifiedDate},
				</if>
				<if test="modifiedUser != null">
					#{modifiedUser},
				</if>
				<if test="modifiedIp != null">
					#{modifiedIp},
				</if>
			</trim>
			<selectKey resultType="long" keyProperty="id">
				SELECT LAST_INSERT_ID() AS ID
			</selectKey>
	</insert>

	<!-- 删除实体对象 -->
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM attachment
		WHERE
			id = #{id}
	</delete>

	<!-- 更新实体对象 -->
	<update id="update" parameterType="java.lang.Object">
		UPDATE attachment
		<set>
			<if test="id != null">
				id = #{id},
			</if>
			<if test="contractId != null">
				contractId = #{contractId},
			</if>
			<if test="code != null">
				code = #{code},
			</if>
			<if test="fileName != null">
				fileName = #{fileName},
			</if>
			<if test="suffix != null">
				suffix = #{suffix},
			</if>
			<if test="savePathFile != null">
				savePathFile = #{savePathFile},
			</if>
			<if test="addDate != null">
				addDate = #{addDate},
			</if>
			<if test="addUser != null">
				addUser = #{addUser},
			</if>
			<if test="addIp != null">
				addIp = #{addIp},
			</if>
			<if test="modifiedDate != null">
				modifiedDate = #{modifiedDate},
			</if>
			<if test="modifiedUser != null">
				modifiedUser = #{modifiedUser},
			</if>
			<if test="modifiedIp != null">
				modifiedIp = #{modifiedIp},
			</if>
		</set>
		WHERE
			id = #{id}
			<if test="original != null">
				 AND modified = #{original}
			</if>
	</update>

	<!-- 查询单个实体对象 -->
	<select id="get" parameterType="java.lang.Object" resultMap="attachment">
		SELECT 
			id, 
			contractId, 
			code, 
			fileName, 
			suffix, 
			savePathFile, 
			addDate, 
			addUser, 
			addIp, 
			modifiedDate, 
			modifiedUser, 
			modifiedIp
		FROM attachment
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="contractId != null">
				AND contractId = #{contractId}
			</if>
			<if test="code != null">
				AND code = #{code}
			</if>
			<if test="userId != null">
				AND userId = #{userId}
			</if>
			<if test="fileName != null">
				AND fileName = #{fileName}
			</if>
			<if test="suffix != null">
				AND suffix = #{suffix}
			</if>
			<if test="savePathFile != null">
				AND savePathFile = #{savePathFile}
			</if>
			<if test="addDate != null">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND modifiedIp = #{modifiedIp}
			</if>
		</where>
		LIMIT 1
	</select>

	<!-- 查询实体对象集合 -->
	<select id="select" parameterType="java.lang.Object" resultMap="attachment">
		SELECT 
			id, 
			contractId, 
			code, 
			fileName, 
			suffix, 
			savePathFile, 
			addDate, 
			addUser, 
			addIp, 
			modifiedDate, 
			modifiedUser, 
			modifiedIp
		FROM attachment
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="contractId != null">
				AND contractId = #{contractId}
			</if>
			<if test="code != null">
				AND code = #{code}
			</if>
			<if test="fileName != null">
				AND fileName = #{fileName}
			</if>
			<if test="suffix != null">
				AND suffix = #{suffix}
			</if>
			<if test="savePathFile != null">
				AND savePathFile = #{savePathFile}
			</if>
			<if test="addDate != null">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND modifiedIp = #{modifiedIp}
			</if>
			<if test="sort != null">
				ORDER BY ${sort} ${order}
			</if>
		</where>
	</select>

	<!-- 查询实体对象记录数 -->
	<select id="count" parameterType="java.lang.Object" resultType="int">
		SELECT COUNT(1) FROM attachment
		<where>
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="contractId != null">
				AND contractId = #{contractId}
			</if>
			<if test="code != null">
				AND code = #{code}
			</if>
			<if test="fileName != null">
				AND fileName = #{fileName}
			</if>
			<if test="suffix != null">
				AND suffix = #{suffix}
			</if>
			<if test="savePathFile != null">
				AND savePathFile = #{savePathFile}
			</if>
			<if test="addDate != null">
				AND addDate = #{addDate}
			</if>
			<if test="addUser != null">
				AND addUser = #{addUser}
			</if>
			<if test="addIp != null">
				AND addIp = #{addIp}
			</if>
			<if test="modifiedDate != null">
				AND modifiedDate = #{modifiedDate}
			</if>
			<if test="modifiedUser != null">
				AND modifiedUser = #{modifiedUser}
			</if>
			<if test="modifiedIp != null">
				AND modifiedIp = #{modifiedIp}
			</if>
		</where>
	</select>
</mapper>