<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mtf.contract.dao.BuyerMapper">
	<resultMap type="com.mtf.contract.model.Buyer" id="buyer" />
	<insert id="insert" parameterType="buyer">
		INSERT INTO base_buyer (id, name, modified)
		VALUES (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{modified,jdbcType=VARCHAR})
	</insert>
	<select id="select" resultMap="buyer" parameterType="java.lang.Object">
		SELECT
			a.id,
			a.name,
			modified
		FROM base_buyer AS a
		WHERE 1 = 1
		<if test="name != null and name != ''">
			AND a.name LIKE CONCAT(CONCAT('%', #{name, jdbcType=VARCHAR}),'%')
		</if>
		<if test="sort != null and sort != ''">
			ORDER BY ${sort} ${order}
		</if>
		LIMIT ${startIndex}, ${rows}		
	</select>
	<select id="count" resultType="int" parameterType="java.lang.Object">
		SELECT
			COUNT(1)
		FROM base_buyer AS a
		WHERE 1 = 1	
		<if test="name != null and name != ''">
			AND a.name LIKE CONCAT(CONCAT('%', #{name, jdbcType=VARCHAR}),'%')
		</if>
	</select>
	<select id="get" resultMap="buyer" parameterType="java.lang.Object">
		SELECT 
			a.id,
			a.name,
			modified
		FROM base_buyer AS a
		WHERE 1 = 1
		<if test="id != null and id != ''">
			AND a.id = #{id, jdbcType=CHAR}
		</if>
		LIMIT 1
	</select>
	<update id="update" parameterType="java.lang.Object">
		UPDATE
			base_buyer 
		SET
			name = #{name, jdbcType=VARCHAR}, 
			modified = #{modified, jdbcType=VARCHAR}
		WHERE 
			id = #{id,jdbcType=CHAR}
		AND
			modified = #{original,jdbcType=VARCHAR}
	</update>
	<delete id="delete" parameterType="java.lang.Object">
		DELETE FROM base_buyer
		WHERE id = #{id,jdbcType=CHAR}
	</delete>
</mapper>